<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sinatra Template</title>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
  </head>
  <body>
    <div id="main">
      <h1>Sinatra Template</h1>
      <%= yield %>
    </div>
  </body>
</html>
